<html>
<head><title>Laptop 2</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
<p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
<p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
<p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\laptop 2.jpg" alt="Laptop1" style="width:100%">
</div>
<div class="column">
<div><p> <Label>Laptop2</label></p>
<p><Label>Dell Vostro 3400</Label></p>
<p><Label>MRP-: Rs 46,990</Label>
<Label>Quantity</Label></p>
<p><a href="cart.html"><button type="submit" value="Buy_now" >Buy now</button></a>
<a href="cart.html"><button type="submit" value="Cart" >Add to Cart</button></a></p>
<p> To be Delivered In:-4-5 days</p>
<table Border="1" style="width:100%" style="height:1000%">
<tr><th>Model Name</th>
<td>Dell Vostro 3400 </td></tr>
<tr><th>Screen</th>
<td>15.6-inch (39.62 cms) FHD 144Hz</td></tr>
<tr><th>Processor</th>
<td>11th Gen i5-1135G7</td></tr>
<tr><th>GPU</th>
<td>Integrated Graphics</td></tr>
<tr><th>Ram</th>
<td>8 GB</td></tr>
<tr><th>Storage</th>
<td>1 TB HDD</td></tr>
<tr><th>Operating System</th>
<td>Win 10 + MS Office</td></tr>
<tr><th>Colour</th>
<td>Black</td></tr>
<tr><th>Connector Type</th>
<td>Bluetooth,WIFI</td></tr>
<tr><th>Special Feature</th>
<td>Anti Glare Screen</td></tr>
</table>
</div>
</div>
</body>
</html>