<html>
<head><title>Mobile 3</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
<p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
<p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
<p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Mobile 3.jpeg" alt="Mobile3" style="width:100%">
</div>
<div class="column">
<div><p> <Label>Mobile 3</label></p>
<p><Label>OnePlus 5T (Midnight Black, 6GB RAM, 64GB Storage)</Label></p>
<p><Label>MRP-: Rs 16,999</Label>
<Label>Quantity</Label></p>
<p><a href="cart.html"><button type="submit" value="Buy_now" >Buy now</button></a>
<a href="cart.html"><button type="submit" value="Cart" >Add to Cart</button></a></p>
<p> To be Delivered In:-4-5 days</p>
<table Border="1" style="width:100%" style="height:1000%">
<tr><th>Model Name</th>
<td>OnePlus 5T</td></tr>
<tr><th>Brand</th>
<td>Oneplus</td></tr>
<tr><th>Storage</th>
<td>6GB RAM, 64GB</td></tr>
<tr><th>OS</th>
<td>Android</td></tr>
<tr><th>Colour</th>
<td>Black</td></tr>
<tr><th>Processor</th>
<td>Snapdragon 835</td></tr>
</table>
</div>
</div>
</body>
</html>