<html>
<head><title>GPU 2</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
<p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
<p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
<p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Gpu 2.jpg" alt="Gpu2" style="width:100%">
</div>
<div class="column">
<div><p> <Label>GPU 2</label></p>
<p><Label>NVIDIA GEFORCE RTX 3070 Ti</Label></p>
<p><Label>MRP-: Rs 53,500</Label>
<Label>Quantity</Label></p>
<p><a href="cart.html"><button type="submit" value="Buy_now" >Buy now</button></a>
<a href="cart.html"><button type="submit" value="Cart" >Add to Cart</button></a></p>
<p> To be Delivered In:-4-5 days</p>
<table Border="1" style="width:100%" style="height:1000%">
<tr><th>Model Name</th>
<td>NVIDIA GEFORCE RTX 3070 Ti</td></tr>
<tr><th>Brand</th>
<td>Nvidia</td></tr>
<tr><th>Cuda Cores</th>
<td>6144</td></tr>
<tr><th>Boast Clock</th>
<td>1.77</td></tr>
<tr><th>Memory Type</th>
<td>GDDR6X</td></tr>
<tr><th>Memory Size/th>
<td>8GB</td></tr>
<tr><th>Interface Width</th>
<td>256-Bit</td></tr>
<tr><th>Maximum Resolution</th>
<td>7680x4320</td></tr>
<tr><th>Display Connectors</th>
<td>HDMI 2.1, 3x DisplayPort 1.4a</td></tr>
</table>
</div>
</div>
</body>
</html>