<html>
<head><title>Product details</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
  <p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
  <p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
  <p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\Cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Mb 1.jpg" alt="Motherboard1" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Motherboard1.html"><Label>Asus PRIME B450M-A II Motherboard</Label></p></a>
<p><Label>MRP-: Rs 6,799</Label>
</div>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Mb 2.jpg" alt="Motherboard2" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Motherboard2.html"><Label>Gigabyte B560M Aorus Pro Motherboard</Label></a></p>
<p><Label>MRP-: Rs 13,799</Label>
</div>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Mb 3.jpg" alt="Motherboard3" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Motherboard3.html"><Label>ASRock B450 Steel Legend Motherboard</Label></a></p>
<p><Label>MRP-: Rs 10,399</Label>
</div>
</div>
</body>
</html>