<html>
<head><title>Motherboard 2</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
  <p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
  <p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
  <p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Mb 2.jpg" alt="MB2" style="width:100%">
</div>
<div class="column">
<div><p> <Label>Motherboard 2</label></p>
<p><Label>Gigabyte B560M Aorus Pro Motherboard</Label></p>
<p><Label>MRP-: Rs 13,799</Label>
<Label>Quantity</Label></p>
<p><a href="cart.html"><button type="submit" value="Buy_now" >Buy now</button></a>
<a href="cart.html"><button type="submit" value="Cart" >Add to Cart</button></a></p>
<p> To be Delivered In:-4-5 days</p>
<table Border="1" style="width:100%" style="height:1000%">
<tr><th>Model Name</th>
<td>Gigabyte B560M Aorus Pro Motherboard</td></tr>
<tr><th>Brand</th>
<td>Gigabyte</td></tr>
<tr><th>Socket</th>
<td>LGA1200</td></tr>
<tr><th>Chipset</th>
<td>B650</td></tr>
<tr><th>Form Factor</th>
<td>M-ATX</td></tr>
<tr><th>Memory Slot</th>
<td>4 Slot</td></tr>
<tr><th>Platform</th>
<td>Intel</td></tr>
</table>
</div>
</div>
</body>
</html>