<html>
<head><title>Product details</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
  <p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
  <p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
  <p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\Cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Ram 1.jpg" alt="Ram1" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Ram1.html"><Label>Kingston Fury Beast RGB 8GB 3200MHz DDR4 CL16 RAM Memory Module</Label></p></a>
<p><Label>MRP-: Rs 3,399</Label>
</div>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Ram 2.jpg" alt="Ram2" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Ram2.html"><Label>G.Skill Trident Z RGB 16GB (8GBx2) 3200MHz DDR4 CL16 RAM Memory Module</Label></a></p>
<p><Label>MRP-: Rs 9,599</Label>
</div>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Ram 3.jpg" alt="Ram3" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Ram3.html"><Label>Aorus RGB 16GB (8GBx2) 3333MHz DDR4 RAM</Label></a></p>
<p><Label>MRP-: Rs 9,599</Label>
</div>
</div>
</body>
</html>