<html>
<head><title>Product details</title>
<style>
.ali{
display: flex;
flex-direction: row;
justify-content:space-between;
}
.al{
display: flex;
flex-direction: row;
justify-content:flex-start;;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}</style>
</head>
<body bgcolor="orange">
<div class="ali">
<p>GADGET ZONE</p>
<p><input type="text" placeholder="search product" id="Searchbar">
<a href=search.html><button type="submit" value="Search" >Search</button></a></p>
<p><button type="submit" value="Sign_out" onclick="location.href='/Login/'">Sign Out</button></p></div>
</div>
<div class="al">
  <p><button type="submit" value="Home_page" onclick="location.href='/'" >Home Page</button></p>
  <p><button type="submit" value="custom" onclick="location.href='/Ct/'" >Custom Area</button></p>
  <p><button type="submit" value="Refurbhished" onclick="location.href='/Rb/'" >Refurbished Area</button></p>
<p><a href="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\Cart.html"><button type="submit" value="Cart" >Cart</button></a></p>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Storage 1.jpg" alt="Storage1" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Storage1.html"><Labe>Samsung 970 Evo 250GB M.2 NVMe Internal SSD</Label></p></a>
<p><Label>MRP-: Rs 5,299</Label>
</div>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Storage 2.jpg" alt="Storage2" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Storage2.html"><Label>Adata XPG Gammix S5 512GB M.2 NVMe SSD</Label></a></p>
<p><Label>MRP-: Rs 4,749</Label>
</div>
</div>
<div class="row">
<div class="column">
<img src="C:\Users\Hrishikesh Pendurkar\OneDrive\Documents\hrishikesh\mini 5\code\images\Storage 3.jpg" alt="Storage3" style="width:100% ;height:50%">
</div>
<div class="column">
<p><A href="Storage3.html"><Label>SEAGATE 1TB 7200 RPM Barracuda Desktop Internal Hard Drive</Label></a></p>
<p><Label>MRP-: Rs 3,249</Label>
</div>
</div>
</body>
</html>