
.ali{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }
    .al{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;;
    }
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }   
