{% load static %}
<html>

<head>
    <title>Product details</title>
    <link rel="stylesheet" href="{% static 'css/products_css.css' %}">  
    <style>
        body {
        background-image: url("{% static 'images/bgimage.jpeg'%}");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
      }
    </style>
</head>

<body>
    {% block navbar %}
    {% include 'assets/navbar.html' %}
    {% endblock navbar %}
    {% for product in product_data %}

    <div class="row">
        <div class="column">
            <img src="{{CDN_DOMAIN}}{{product.product_image}}" alt="{{product.name}}" style="width:100% ;height:50%">
        </div>
        <div class="column">
            <a href="/product_details/{{product.id}}">{{product.name}}</a>
            <p><Label>MRP-:{{product.price}}</Label>
        </div>
    </div>

    {% endfor %}

</body>

</html>